*{
    box-sizing : border-box;
    
}

nav{
    background-color: grey;
}

.hideText {
    color : grey;
}
a{
    text-align : center;
}

p{
    padding: 5px 10px 10px;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#toggleButton{ 
    border-color :black;  
}

.navbar-toggler-icon{
    color : black;
}
div.container{
    margin : auto;
    
    overflow: hidden;
}

.boxHeader{
    text-align : center;
    font-size : 20px;
    padding-top: 10px;
}

.boxHeaderWeight{
    font-weight: 500;
}

.bg-grey{
    background-color: grey;
    margin-bottom: 20px;
    margin-left : 20px;
    margin-right: 20px;
}

@media (min-width : 768px){
    
}

@media (min-width : 576px) and (max-width : 767px){
    .hideText {
        color :white;
        font-weight: 300;
    }
}

@media (max-width : 575px){
    
    .hideText {
        color :white;
        font-weight: 300;
    }
    
    
    
}